body {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 145%;
  text-align: justify;
  background: #ffffff;
  color: #464646;
  margin: 0;
}

img { border: none; }
p { margin-top: 0px; }
a { text-decoration: underline; color: inherit }
a:hover { text-decoration: none; }
hr { border: 0; border-top: 1px #aaaaaa solid; }

h1 {
	font-size: 24px;
	line-height: 100%;
	text-transform: uppercase;
	text-weight: normal;
	border-bottom: 1px #aaaaaa solid;
	padding-bottom: 3px;
}

#wrapper {
	width: 100%;
	background: url("../img/headerstripe_happylab.png") repeat-x scroll 0 0 #ffffff;
	
	/*border: 1px green solid;*/
}


#header {
	margin: 0 auto;
	width: 940px;
	height: 495px; 
	
	background: url("img/header/happylab1.jpg") no-repeat scroll;
}

#header img.mosaic {
	float: left;

}

#headerbar {
	background: url("../img/headerbar_happylab.png") no-repeat scroll 0 0 transparent;
	height: 120px;
	width: 940px; 
	
	position: relative;
	top: 20px;
	left: 0px;
}

#headerbar #logo {
	top: 10px;
	left: 20px;
	position:absolute;
}

#mainmenu {
	position: absolute;
	bottom: 20px;
	right: 0px;
	margin: 0;
	padding: 0;
}

#mainmenu ul, #secmenu ul {
	margin: 0;
	padding: 0;
	
	text-transform: uppercase;
	font-size: 16px;
	color: #ababab;
}

#secmenu ul {
	padding-top: 5px;
}

#mainmenu ul .active, #mainmenu ul li:hover, #secmenu ul .active, #secmenu ul li:hover, #topmenu ul .active, #topmenu ul li:hover {
	color: #ffffff;
}

#mainmenu ul li, #secmenu ul li {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	display: inline;
}

#mainmenu ul li a, #secmenu ul li a, #topmenu ul li a {
	text-decoration: none;
	color: inherit; 
}

#secmenu {
	width: 940px;
	margin: 0 auto;
	height: 40px;
	background: url("img/headerbar_happylab.png");
	margin-top: -50px;
	padding-top: 10px;
}

#topmenu {
	position:absolute;
	top: 20px;
	right: 10px;
	margin: 0;
	padding: 0;
}

#topmenu ul {
	margin: 0;
	padding: 0;
	
	font-size: 11px;
	color: #ababab;
}

#topmenu ul li {
	margin: 0px;
	padding: 10px;
	display: inline;
}

#headerbox {
	height: 50px;
	width: 250px;

	position: relative;
	top: 305px;
	left: 665px;
	background: url("img/headerbox.png");
}

#body {
	clear: both;
	margin: 0 auto;
	width: 940px;
}


#threecols {
	clear: both;
	margin: 0 auto;
	width: 940px; 
}

#threecols #left {
	float: left;
	margin-right: 20px;
	width: 300px;
}

#threecols #center {
	float: left;
	margin-right: 20px;
	width: 300px;
}

#threecols #right {
	clear: right;
	float: right;
	width: 300px;
}

#twocols #left {width:460px; float:left; margin-bottom:10px;}
#twocols #right {width:460px; float:right; margin-bottom:10px;}
#twocols {clear:both; margin: 0 auto; width: 940px;}

#twocols_21 #left {width:620px; float:left; margin-bottom:10px;}
#twocols_21 #right {width:300px; float:right; margin-bottom:10px;}
#twocols_21 {clear:both; margin: 0 auto; width: 940px;}

#twocols_12 #left {width:300px; float:left; margin-bottom:10px;}
#twocols_12 #right {width:620px; float:right; margin-bottom:10px;}
#twocols_12 {clear:both; margin: 0 auto; width: 940px;}

/**** Footer ****/
#bottom {
	width: 100%;
	height: 100px;
	background: url("/img/happylab_bg.png");
	margin-top: 50px;
}

#footer {
	margin: 0 auto;
	width: 940px;
	
	padding-top: 5px;
	
	font-size: 11px;
	color: #ababab;
}

/**** Text Styles ****/
p.align-right { text-align: right; }
p.align-left { text-align: left; }
p.align-center { text-align: center; }

div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image img { margin-bottom: 10px; }

/**** Style für Glider ****/
.scroll {
  background: #EAEAEA;
}

/**** News ****/
ul.news { list-style-type: none; padding: 0px; }
ul.news li { margin-bottom: 10px; }
ul.news .more { border-bottom: 1px #aaaaaa solid; text-align:right; }
ul.news .more a { text-decoration: none; color: inherit; }
ul.news .more a:hover { text-decoration: underline; }

p.news-single-imgcaption, dd.csc-textpic-caption { font-size: 10px; text-align:center; padding-top: 0px; margin-top: 0px;}

ul.newsarchiv { list-style-type: none; padding: 0px; }
ul.newsarchiv li { margin-bottom: 20px; clear: both; }
ul.newsarchiv .more { border-bottom: 1px #aaaaaa solid; text-align:right; }
ul.newsarchiv .more a { text-decoration: none; color: inherit; }
ul.newsarchiv .more a:hover { text-decoration: underline; }
ul.newsarchiv div.image { float: left; width: 120px; margin-right: 20px; margin-bottom: 20px;}
.tx-ttnews-browsebox { background-color: #ffffff; border: none; }
.tx-ttnews-browsebox-SCell { background-color: #ffffff; }