body
{ 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 12px;
	
	margin: 0; 
	padding: 0; 
}
div
{
/* 	border: 2px solid; */
}
table, th, td
{
	padding: 2px;
}
td, th
{
	padding-left: 5px; 
	padding-right: 5px;
}
#page
{
	position: absolute;
	padding: 1px;
	width: 650px;
	height: 970px;
}

#logo
{
	height: 130px;
}
#logoimg
{
	display: block;
	margin-left: auto;
	margin-right: auto
}
#address
{
	
}
#invdetail
{
	margin-left:auto;
	margin-right:0%;
	width:30%;
}
h1
{
	
}
.invtable
{
	text-align: right;
}
#enttab
{
	margin-bottom: 10px;
}
.entrytable
{
	width: 100%;
	border-collapse: collapse;
	border:1px solid black;
}
.entrytable td, th
{
	padding-left: 5px; 
	padding-right: 5px;
	border:1px solid black;
}
#disc
{
	font-size: 11px;
	font-weight: bold;
	height: 75px;
}
#paydet
{
	height: 75px;
}
#thx
{
	font-size: 16px;
	font-weight: bold;
}
.footer
{
	position: absolute;
	bottom: 0px;
	font-size: 9px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
}
#foot1
{
	font-weight: bold;
}