body { 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 12px;
	
	margin:0; 
	padding:0; 
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#menubar {
	background-color:005E82; 
	color: #ababab;
	height:20px; 
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#mainmenu {
	margin: 0;
	padding: 0;
}

#mainmenu li {
	padding-right: 10px;
	display: inline;
}

#mainmenu a {
	text-decoration: none;
	color: inherit;
	padding-top:2px;
	padding-left: 5px;
	padding-right: 5px;
}

#mainmenu a:hover, #mainmenu a.selected {
	color: white;
	border-top: 3px white solid;
}


table, th, td {
	border: 1px #888888 solid;
	padding: 2px;
}

table {
	border-collapse: collapse;
	font-size: 12px;
}

th {
	background-color: #dddddd;
}

td, th {
	padding-left: 5px; 
	padding-right: 5px;
}




/* tab panel styles */
div.tabpanel div.tab-row{
  float:left;
  width:100%;
  background:#DAE0DD bottom;
  line-height:normal;
  }

div.tabpanel div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }

div.tabpanel div.tab-row li.contextinfo {
  float:right;
  padding; 0 9px 0 9px;
  font-weight:bold;  
  }

div.tabpanel div.tab-row li {
  float:left;
  margin:0;
  padding:0 0 0 9px;
  }
  
div.tabpanel div.tab-row a {
  display:block;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color:#eee;
  }
  
  
div.tab-panel {
	clear: left;
}
  
div.tabpanel div.tab-row a:hover {
  color:#fff;
  }
  
div.tabpanel div.tab-row li.selected {
  }
  
div.tabpanel div.tab-row li.selected a {
  color:#333;
  padding-bottom:5px;
  }

label.choice {
	display:inline;
	position:relative;
	margin-left: 0.2em;
	_top:0.2em;
}

input.radio {
	display: inline;
	margin-left: 0.5em;
}

#signInPanel form.table {
	border : 0px;
}